<section>
  <h1><a href="/contact">Get in Touch</a></h1>
  <ul>
    <li>Mailing list:
      <ul class="horizontal">
        <li><a href="mailto:nerds_curlyA_0x2c.org">Post</a></li>
        <li>
          <form method="POST"
                paction="https://0x2c.org/mailman/subscribe/nerds"
                target="_blank">
            <input type="text" name="email" placeholder="Subscribe" />
          </form>
        </li>
      </ul>
    </li>
    <li>IRC: <a href="irc://freenode/%23mchck">#mchck@freenode</a></li>
  </ul>
</section>
