// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

i { @extend em; }
b { @extend strong; }

body > header {
    background-image: url('/assets/mchck-banner.jpg');
    background-size: cover;
    h1, h2 {
        text-shadow: lighten($header-bg, 10) 0 1px 3px;
    }
}

aside.sidebar {
    section {
        h1 a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        a[rel=full-article] {
            background: darken($sidebar-bg, 5);
            display: inline-block;
            padding: .4em .8em;
            margin-right: .5em;
            text-decoration: none;
            color: mix($text-color, $text-color-light);
            @extend .serif;
            @include transition(background-color .5s);
            &:hover {
                background: $link-color-hover;
                text-shadow: none;
                color: $sidebar-bg;
            }
        }
        footer {
            @extend .sans;
            margin-top: 1em;
        }
    }
    form {
        @include background-clip(padding-box);
        margin: 0;
        padding: 0;
        display: inline;
        input[type=text] {
            padding: .3em .5em 0;
            font-size: .85em;
            font-family: $sans;
            line-height: 1.1em;
            width: 9em;
            @include border-radius(.5em);
            @include background-clip(padding-box);
            @include box-shadow(lighten($sidebar-bg, 2) 0 1px);
            background-color: lighten($sidebar-bg, 15);
            border: 1px solid $sidebar-border;
            color: #888;
            &:focus {
                color: #444;
                border-color: #80b1df;
                @include box-shadow(#80b1df 0 0 4px, #80b1df 0 0 3px inset);
                background-color: #fff;
                outline: none;
            }
        }
    }
}

img {
    background: white;
}

ul.horizontal {
    display: inline;
    li {
        display: inline;
    }
}

article[role=article], div.blog-index > article {
    header + .entry-content > p:first-child, header + p {
        img {
            @media only screen and (min-width: 480px) {
                float: right;
                margin-left: 0.5em;
                margin-bottom: 0.5em;
                width: 40%;
            }
            @media only screen and (min-width: 750px) {
                float: right;
                margin-left: 0.5em;
                margin-bottom: 0.5em;
                width: 30%;
            }
        }
    }
}

.sidebar > section {
    h1:first-child + img, img:first-child {
        float: right;
        margin-left: 0.5em;
        margin-bottom: 0.5em;
        margin-right: 2px;
        width: 30%;
        @media only screen and (min-width: 750px) {
            float: none;
            width: 98%;
            margin: 2px;
        }
    }
}
